/* General styling */
body {
  margin-top: 10px;
  background-color: #eeeeee;
}

#wrapper {
width:960px;
background-color:#f8f8f8;
margin:0 auto;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
}

#header {
width:960px;
height:135px;
margin:0 auto;
margin-bottom:25px;
border-bottom:1px solid #ccc;
border-top:1px solid #ccc;
}

#header h2 {
padding:10px;
}

#header h3 {
padding:10px;
}

#content {
-webkit-column-count:3;
-moz-column-count:3;
column-count:3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%;

-webkit-column-gap: 2px;
-moz-column-gap: 2px;
column-gap: 2px;

-moz-column-rule: 1px dotted #ccc;
-webkit-column-rule: 1px dotted #ccc;
column-rule: 1px dotted #ccc;

text-align: center;
}

#content h1 {
-webkit-column-span: all;
column-span:all;
}

#footer {
clear:both;
width:960px;
height:135px;
border-top:1px solid #ccc;
text-align:center;
}

#footer p {
padding:10px;
}
/* End of General Styling */

/* Image hover effects */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
 
.pic {
  border: 10px solid #fff;  
  float: left;
  height: 150px;
  width: 150px;
  margin: 20px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}

/*Black and White*/
.bw img {
  height: 150px;
  width: 150px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw img:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+ */
}
/* End of image hover effects */

.title {
  margin-bottom: 20px;
  color: #b94a48;
  border-bottom: 5px solid #b94a48;
}

.title .glyphicon{
  font-size: 30px;
  color: #000;
}

.title h1 {
  font-weight: bold;
}

.title .lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.4;
}

.st_search {
  max-width: 200px;
  float: right;
  margin-bottom: 10px;
}

.pagination {
  float: right;
  margin-top: 0px;
}

.pagination li.active a {
  background-color: #DCDCDC;
}

.st_per_page {
  width: 50px;
  height: 34px !important;
  float: right;
  margin-right: 20px;
}

.record_count {
  margin-left: 20px;
}

#found {
  margin-left: 10px;
  font-size: 16px;
  line-height: 33px;
}

/* Everything below is related to the login modal */
.modal-dialog-center {
  margin-top: 10%;
}

#header-login {
  display: inline-block;
  height: 50px;
  width: 100%;
  background-color: #b94a48;
}

#header-login ul li {
  display: inline-block;
  margin-top: 10px;
}

#login-button, #register-toggle, #account-button, #logout-button {
  color: #ffffff; 
  background-color: #b94a48;;
  border: none;
}

#login-button:hover, #register-toggle:hover, #account-button:hover, #logout-button:hover {
  color: #ffebcd; 
}

#login-error {
  color: #ffffff; 
}
